<div class="col-md-12">
  <h2>Agenda</h2>
  <p>
    
    Com a agenda, a comunidade não perderá mais nenhum evento, todo o cronograma da Igreja ficará lá disponível para todos. Podendo enviar notificações para as pessoas antes dos eventos.
  </p>
  



<!-- Sim e não-->

<label class="radio">
      <input [(ngModel)]="service.catolicaAgenda" value="sim"  (click)='service.addCatolicaAgenda("sim")' type="radio" name="agenda">
      <div class="emot happy ">
        <div class="mouth smile "></div>
      </div>
    </label>
  
  <label class="radio">
      <input [(ngModel)]="service.catolicaAgenda" value="não" (click)='service.addCatolicaAgenda("não")'   type="radio" name="agenda">
      <div class="emot happy ">
        <div class="mouth sad"></div>
      </div>
  </label>


<!--

      <div class="col-md-12 text-center" >

          <a [ngClass]="{'active': service.contato == 'sim'}"  (click)='service.addContato("sim")' class="btn btn-lg btn-outline-primary">Sim</a>

          <a [ngClass]="{'active': service.contato != 'sim' }" (click)='service.addContato("não")' class="btn btn-lg btn-outline-primary">Não</a>
    
      </div>
-->

  

<br/>

<div class="row">
  <div class="col-md-6 col-sm-6 espaco">
      <a routerLink="/pergunta/liturgia-diaria" class="btn btn-primary btn-lg btn-block">Anterior </a>
  </div>
  <div class="col-md-6 col-sm-6 espaco">
      <a routerLink="/pergunta/formularios" class="btn btn-primary btn-lg btn-block">Proximo </a>
  </div>
</div>


</div>