
<form class="form">

  <img src="assets/img/logo.png" class="img-responsive" width="80px"/>
  
<div class="branco">
  <router-outlet></router-outlet>
</div>

</form>


<!--
      <div >Modalidade: {{ service.modalidade }}  </div>
      <div >Instrucao: {{ service.instrucao }}  </div>
      <div >BLOG: {{ service.blog }}  </div>
      <div >CONTATO: {{ service.contato }}  </div>
      <div >DICAS DE SAUDE: {{ service.dicasSaude }}  </div>
      <div >DICAS DE TREINO: {{ service.dicasTreino}}  </div>
      <div >Fotos: {{ service.fotos}}  </div>
      <div >CONTE UM POUCO SOBRE SUA EMPRESA: {{ service.empresa}}  </div>
      <div >NOME: {{ service.nome}}  </div>
      <div >EMAIL: {{ service.email}}  </div>
      <div >Telefone: {{ service.telefone}}  </div>
      <div >Area de estudo: {{ service.areaEstudo}}  </div>
      <div >Cardapio nutricional: {{ service.cardapioNutricional}}  </div>
      <div >Eventos: {{ service.eventos}}  </div>
      <div >Mensagens: {{ service.mensagens}}  </div>
      <div >Mural de  fotos: {{ service.muralFotos}}  </div>
      <div >Noticias: {{ service.noticias}}  </div>
      <div >Ideia: {{ service.ideia}}  </div>
      <div >Igreja: {{ service.igrejaInstrucao}}  </div>
      <div >Evangelica fotos: {{ service.evangelicaFotos}}  </div>
      <div >Evangelica biblia online: {{ service.evangelicaBibliaOnline}}  </div>
      <div >Evangelica agenda: {{ service.evangelicaEvangelicaAgenda}}  </div>
      <div >Musicas gospel: {{ service.musicasGospel}}  </div>
      <div >Evangelica Noticias: {{ service.evangelicaNoticias}}  </div>
      <div >Publicidade google: {{ service.publicidadeGoogle}}  </div>
      <div >Evangélica testemunhos: {{ service.evangelicaTestemunhos}}</div>
      <div >Dizimo digital: {{ service.dizimoDigital}}</div>
      <div >Sua Igreja: {{ service.suaIgreja}}</div>
      <div >Músicas Cátolicas: {{ service.musicasCatolicas}}</div>
      <div >Noticias Cátolicas: {{ service.noticiasCatolicas}}</div>
      <div >Pastorais: {{ service.pastorais}}</div>
      <div >Publicidades internas: {{ service.publicidadesInternas}}</div>
      <div >santo do dia: {{ service.santoDoDia}}</div>
      <div >Liturgia diaria: {{ service.liturgiaDiaria}}</div>
      <div >Catolica agenda: {{ service.catolicaAgenda}}</div>
      <div >Formularios: {{ service.formularios}}</div>
      <div >Fotos Catolicas: {{ service.catolicaFotos}}</div>
      <div >Outro Sua Ideia: {{ service.outroSuaIdeia}}</div>
      <div >Restaurante-blog: {{ service.restauranteBlog}}</div>
      <div >Cardapio: {{ service.cardapio}}</div>
      <div >Cartão fidelidade: {{ service.cartaoFidelidade}}</div>
      <div >Restaurante contato: {{ service.restauranteContato}}</div>
      <div >Restaurante fotos: {{ service.restauranteFotos}}</div>
      <div >Geofence: {{ service.geofence}}</div>
      <div >Redes sociais: {{ service.redesSociais}}</div>
      <div >Reserva de mesas: {{ service.reservaMesas}}</div>
      <div >Seu restaurante: {{ service.seuRestaurante}}</div>
      <div >Informacoes e contatos: {{ service.informacoesEContatos}}</div>
      <div >Servicos blog: {{ service.servicosBlog}}</div>
      <div >Servicos cartão fidelidade: {{ service.servicosCartaoFidelidade}}</div>
      <div >Dash board: {{ service.dashBoard}}</div>
-->



