<div class="col-md-12">
    <h2>Fotos</h2>
    <p>

        Aqui seus usuários verão todas as fotos que você deseja compartilhar. A forma de adicionar essas fotos será muito simples, diretamente do seu smartphone.
    </p>
    



  <!-- Sim e não-->

        <div class="col-md-12 text-center" >

            <label class="radio">
              <input [(ngModel)]="service.evangelicaFotos" value="sim"  (click)='service.addEvangelicaFotos("sim")' type="radio"name="fotos">
              <div class="emot happy">
                <div class="mouth smile "></div>
              </div>
            </label>
          
            <label class="radio">
              <input [(ngModel)]="service.evangelicaFotos" value="não" (click)='service.addEvangelicaFotos("não")'   type="radio" name="fotos">
              <div class="emot happy ">
                <div class="mouth sad"></div>
              </div>
            </label>


<!--
            <a [ngClass]="{'active': service.dicasTreino == 'sim'}"  (click)='service.addDicasTreino("sim")' class="btn btn-lg btn-outline-primary">Sim</a>

            <a [ngClass]="{'active': service.dicasTreino != 'sim' }" (click)='service.addDicasTreino("não")' class="btn btn-lg btn-outline-primary">Não</a>
-->     
        </div>
   

    
  
<br/>

  <div class="row">
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/igreja-instrucao02" class="btn btn-primary btn-lg btn-block">Anterior </a>
    </div>
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/evangelica-biblia-online" class="btn btn-primary btn-lg btn-block">Proximo  </a>
    </div>
  </div>


</div>