<div class="col-md-12">
    <h2>Número de Telefone</h2>

  
  
  <!-- Sim e não-->
  
        <div class="col-md-12 text-center" >
            
              <p-inputMask placeholder="(99) 9 9999-9999" mask="(99) 9 9999-9999" [(ngModel)]="service.telefone" value="service.telefone"  (keyup)='service.addTelefone(service.telefone)' id="telefone">

              </p-inputMask>
  
  
  <!--
            <a [ngClass]="{'active': service.dicasTreino == 'sim'}"  (click)='service.addDicasTreino("sim")' class="btn btn-lg btn-outline-primary">Sim</a>
  
            <a [ngClass]="{'active': service.dicasTreino != 'sim' }" (click)='service.addDicasTreino("não")' class="btn btn-lg btn-outline-primary">Não</a>
  -->     
        </div>
   
  
    
  
  <br/>
  
  <div class="row">
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/seu-email" class="btn btn-primary btn-lg btn-block">Anterior </a>
    </div>
    <div class="col-md-6 col-sm-6 espaco">
        <button type="button" routerLink="/pergunta/rever"  class="btn btn-primary  btn-lg btn-block" >Proximo</button>
    </div>
  </div>
  
  
  </div>