<div class="col-md-12">
    <h2>Blog</h2>
    <p>
        Aqui você pode compartilhar facilmente qualquer conteúdo como dicas de alimentação, cardápios futuros, novidades, etc.
    </p>
    
  
  
  
  <!-- Sim e não-->
  
        <div class="col-md-12 text-center" >
  
            <label class="radio">
              <input [(ngModel)]="service.restauranteBlog" value="sim"  (click)='service.addRestauranteBlog("sim")' type="radio"name="restaurante">
              <div class="emot happy">
                <div class="mouth smile "></div>
              </div>
            </label>
          
            <label class="radio">
              <input [(ngModel)]="service.restauranteBlog" value="não" (click)='service.addRestauranteBlog("não")'   type="radio" name="restaurante">
              <div class="emot happy ">
                <div class="mouth sad"></div>
              </div>
            </label>
  
  
  <!--
            <a [ngClass]="{'active': service.dicasTreino == 'sim'}"  (click)='service.addDicasTreino("sim")' class="btn btn-lg btn-outline-primary">Sim</a>
  
            <a [ngClass]="{'active': service.dicasTreino != 'sim' }" (click)='service.addDicasTreino("não")' class="btn btn-lg btn-outline-primary">Não</a>
  -->     
        </div>
   
  
    
  
  <br/>
  
  <div class="row">
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/restaurante-instrucao" class="btn btn-primary btn-lg btn-block">Anterior </a>
    </div>
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/cardapio" class="btn btn-primary btn-lg btn-block">Proximo  </a>
    </div>
  </div>
  
  
  </div>