<div class="col-md-12">
    <h2>Cartão Fidelidade</h2>
    <p>
        Cartão Fidelidade
        O cartão fidelidade é uma forma muito interessante e interativa de oferecer um cartão digital diretamente do smartphone, fazendo com que haja mais fidelização com seus clientes.  
    </p>
    



  <!-- Sim e não-->
    <label class="radio ">
        <input [(ngModel)]="service.cartaoFidelidade" value="sim"  (click)='service.addCartaoFidelidade("sim")' type="radio"name="cartao">
        <div class="emot happy ">
          <div class="mouth smile "></div>
        </div>
    </label>
    
    <label class="radio">
        <input [(ngModel)]="service.cartaoFidelidade" value="não" (click)='service.addCartaoFidelidade("não")'   type="radio" name="cartao">
        <div class="emot happy ">
          <div class="mouth sad"></div>
        </div>
    </label>


<!--

        <div class="col-md-12 text-center" >

            <a [ngClass]="{'active': service.blog == 'sim'}"  (click)='service.addBlog("sim")' class="btn btn-lg btn-outline-primary">Sim</a>

            <a [ngClass]="{'active': service.blog != 'sim' }" (click)='service.addBlog("não")' class="btn btn-lg btn-outline-primary">Não</a>
      
        </div>

    -->
    
  
<br/>

  <div class="row">
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/cardapio" class="btn btn-primary btn-lg btn-block">Anterior </a>
    </div>
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/restaurante-contato" class="btn btn-primary btn-lg btn-block">Proximo  </a>
    </div>
  </div>


</div>