<div class="col-md-12">
  <h2>Testemunhos</h2>
  <p>
    
    Com o "Testemunhos" você oferecerá uma área onde as pessoas poderão ler ou ouvir testemunhos de outros membros da Igreja.
  </p>
  



<!-- Sim e não-->

      <div class="col-md-12 text-center" >

          <label class="radio">
            <input [(ngModel)]="service.evangelicaTestemunhos" value="sim"  (click)='service.addEvangelicaTestemunhos("sim")' type="radio"name="evangelica">
            <div class="emot happy">
              <div class="mouth smile "></div>
            </div>
          </label>
        
          <label class="radio">
            <input [(ngModel)]="service.evangelicaTestemunhos" value="não" (click)='service.addEvangelicaTestemunhos("não")'   type="radio" name="evangelica">
            <div class="emot happy ">
              <div class="mouth sad"></div>
            </div>
          </label>


<!--
          <a [ngClass]="{'active': service.dicasTreino == 'sim'}"  (click)='service.addDicasTreino("sim")' class="btn btn-lg btn-outline-primary">Sim</a>

          <a [ngClass]="{'active': service.dicasTreino != 'sim' }" (click)='service.addDicasTreino("não")' class="btn btn-lg btn-outline-primary">Não</a>
-->     
      </div>
 

  

<br/>

<div class="row">
  <div class="col-md-6 col-sm-6 espaco">
      <a routerLink="/pergunta/publicidade-google" class="btn btn-primary btn-lg btn-block">Anterior </a>
  </div>
  <div class="col-md-6 col-sm-6 espaco">
      <a routerLink="/pergunta/dizimo-digital" class="btn btn-primary btn-lg btn-block">Proximo  </a>
  </div>
</div>


</div>