<div class="col-md-12">
   <br />
   <br />
        <h4>Agora você selecionará as funções que você gostaria de ver no seu App</h4>


   <br />
   
    <div class="row botoes-abaixo">
      <div class="col-md-6 col-sm-6 espaco">
          <a  (click)='service.addInstrucao("sim")' routerLink="/pergunta/modalidades" class="btn btn-primary btn-lg btn-block">Anterior </a>
      </div>
      <div class="col-md-6 col-sm-6 espaco">
            <button routerLink="/pergunta/blog" class="btn btn-primary btn-lg btn-block">Proximo  </button>
      </div>
    </div>
</div>
