<div class="col-md-12">
    <h2>Contato</h2>
    <p>
        Nesta seção os seus usuários verão informações de contato de sua academia, como telefone e redes-sociais.
    </p>
    



  <!-- Sim e não-->

  <label class="radio">
        <input [(ngModel)]="service.contato" value="sim"  (click)='service.addContato("sim")' type="radio" name="contato">
        <div class="emot happy ">
          <div class="mouth smile "></div>
        </div>
      </label>
    
    <label class="radio">
        <input [(ngModel)]="service.contato" value="não" (click)='service.addContato("não")'   type="radio" name="contato">
        <div class="emot happy ">
          <div class="mouth sad"></div>
        </div>
    </label>


<!--

        <div class="col-md-12 text-center" >

            <a [ngClass]="{'active': service.contato == 'sim'}"  (click)='service.addContato("sim")' class="btn btn-lg btn-outline-primary">Sim</a>

            <a [ngClass]="{'active': service.contato != 'sim' }" (click)='service.addContato("não")' class="btn btn-lg btn-outline-primary">Não</a>
      
        </div>
-->

    
  
<br/>

  <div class="row">
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/blog" class="btn btn-primary btn-lg btn-block">Anterior </a>
    </div>
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/dicas-saude" class="btn btn-primary btn-lg btn-block">Proximo  </a>
    </div>
  </div>


</div>