<div class="col-md-12">
    <h2>Cardápio</h2>
    <p>
        
        O cardápio consiste em disponibilizar para o cliente o cardápio completo do restaurante podendo conter imagens e valores nutricionais e preços, de todos os alimentos que o restaurante dispõe.
    </p>
    



  <!-- Sim e não-->
    <label class="radio ">
        <input [(ngModel)]="service.cardapio" value="sim"  (click)='service.addCardapio("sim")' type="radio"name="cardapio">
        <div class="emot happy ">
          <div class="mouth smile "></div>
        </div>
    </label>
    
    <label class="radio">
        <input [(ngModel)]="service.cardapio" value="não" (click)='service.addCardapio("não")'   type="radio" name="cardapio">
        <div class="emot happy ">
          <div class="mouth sad"></div>
        </div>
    </label>


<!--

        <div class="col-md-12 text-center" >

            <a [ngClass]="{'active': service.blog == 'sim'}"  (click)='service.addBlog("sim")' class="btn btn-lg btn-outline-primary">Sim</a>

            <a [ngClass]="{'active': service.blog != 'sim' }" (click)='service.addBlog("não")' class="btn btn-lg btn-outline-primary">Não</a>
      
        </div>

    -->
    
  
<br/>

  <div class="row">
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/restaurante-blog" class="btn btn-primary btn-lg btn-block">Anterior </a>
    </div>
    <div class="col-md-6 col-sm-6 espaco">
        <a routerLink="/pergunta/cartao-fidelidade" class="btn btn-primary btn-lg btn-block">Proximo  </a>
    </div>
  </div>


</div>