<div class="col-md-12">

    <br />
    <br />
         <h4>Agora você selecionará as funções que você gostaria de ver no seu App</h4>
    



  <!-- Sim e não
    <label class="radio ">
        <input  value="sim"   type="radio" name="igreja">
        <div class="emot happy ">
          <div class="mouth smile "></div>
        </div>
    </label>
    
    <label class="radio">
        <input  value="não"    type="radio" name="igreja">
        <div class="emot happy ">
          <div class="mouth sad"></div>
        </div>
    </label>
-->

<!--

        <div class="col-md-12 text-center" >

            <a [ngClass]="{'active': service.blog == 'sim'}"  (click)='service.addBlog("sim")' class="btn btn-lg btn-outline-primary">Sim</a>

            <a [ngClass]="{'active': service.blog != 'sim' }" (click)='service.addBlog("não")' class="btn btn-lg btn-outline-primary">Não</a>
      
        </div>

    -->
    
  
<br/>
  
    <div class="row botoes-abaixo">
      <div class="col-md-6 col-sm-6 espaco">
          <a routerLink="/pergunta/igreja-instrucao" class="btn btn-primary btn-lg btn-block">Anterior </a>
      </div>
      <div class="col-md-6 col-sm-6 espaco">
          <a routerLink="/pergunta/{{proximaPagina}}" class="btn btn-primary btn-lg btn-block">Proximo  </a>
      </div>
    </div>
  </div>